.summary{
width:50%;
}

*{
box-sizing:border-box;
}

body{
background-color:#aaa;
}

a{
text-decoration:none;
}

img{
max-width:15%;
height:auto;
}

.column{
border-left:3px solid blue;
padding:10px;
/*float=left;*/
width:50%;
padding:10px;
}

.row:after{
content:"";
display:table;
clear:both;
}
